body {
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.24;
    font-size: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

body {
    background-color: rgba(91, 126, 241, 0.205);
}
